body {
  max-width: 90ch;
  padding: 2ch;
  margin: auto;
  font-family: sans-serif;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}